/* =============================== COMMON ========================== */
:root {
    --blanco:#ffffff;
    --oscuro:#212121;
    --nav_bar: #4f90e6;
	--encabezado: #156ee4;
    --gris: #757575; 
    --grisClaro: #c5cace;
}
body {
	font: 13px/130% Arial, Helvetica, sans-serif;
	margin: 0px;
	background-image: linear-gradient(to top, var(--grisClaro)  0%, var(--blanco) 100%);
	height: 100%;
	

}

/* =============================== Formato titulos ========================== */
h1{
	font-size: 25px;	
	text-align: center;
	margin: 0px;
	padding: 0px;
	color: var(--blanco);
}
h2{
	font-size: 20px;
	text-align: center;
	color: var(--blanco);
}
/* =============================== HEAD ========================== */
	/*formato a los encabezados*/

.barra_informacion{
	width: 100%;
	background-color: var(--nav_bar);
	height: 30px;
	align-content: center;
	margin: 0;
	padding: 6px 0px 6px 0px;
	z-index: 100
}	

#barra_sec{
	display: grid;
	grid-template-columns: 100px auto 100px;
	column-gap: 1rem;
	
}
.text_info{
	align-items: center;
	padding: 0px;
	margin: 0px;
}

body header{
	position: fixed;
	width: 100%;
	z-index: 100;
	
}

.titulo{
	width: 100%;
	height: 40px;
	background-color: var(--oscuro);
	margin: 0px;
	padding: 8px 0px 8px 0px;
	z-index: 100
}

 #logo{
	position: relative;
	right: -80px;
	top: 3px;
	border-radius: 4px;
	height: 80px;
	width: 80px;
	z-index: 100;	
 }

 #logo_2{
	position: relative;
	right: -20px;
	top: -3px;
	border-radius: 4px;
	height: 45px;
	width: 45px;
	z-index: 100;	
 }

.link_menu{ 
	margin-top: 12px;
	margin-left: 20px;
	text-align: left;
} 
.link_logout{ 
	margin-top: 12px;
	margin-right: 20px;
	text-align: right;

} 

.link_menu a, .link_logout a {
	margin-top: 6px;
	color: var(--blanco);
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;

}

.material-icons:hover {
    cursor: pointer;
	color: var(--grisClaro);
}
/*============================Menú desplegable=================*/

.container{
	
  	padding: 0px;
}

.contenedor_menu{
	width: 200px;

}
.card{
  width: 200px;
  height: 600px;
  background-color: var(--nav_bar);
  border-radius: 0px 0px;
}

.titulo_menu{
  border-radius: 0px 0px 0px 0px;
  padding: 5px;
  background-color: var(--encabezado);
}

h3{
  color: #FFFFFF;
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
}



.cuerpo_menu li a{ /*Con este modifico el menú principal*/
  transition: 1s all;
  font-family: sans-serif;
  font-size: 15px;
  padding: 15px;
  margin-left: -40px;
  margin-top: 0px;
  color: #fff;
  text-decoration: none;
  text-decoration-style: none;
  list-style: none;
  display: block;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  display: list-item;
  list-style-type: none;

}

.cuerpo_menu ul li {
	list-style: none;

}



.cuerpo_menu li ul { /*Con este modifico el primer sub menú*/
  background: var(--nav_bar);
  margin-left: 160px;
  margin-top: -38px;
  display: none;
  position: absolute;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  
}
.cuerpo_menu .inferior ul{ /*Con este modifico el sub menu de la última opcion*/
	background: var(--nav_bar);
	margin-left: 158px;
	margin-top:-328px;
	display: none;
	position: absolute;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
  }



.cuerpo_menu li ul li ul { /*Con este modifico el segundo submenu */
	background: var(--nav_bar);
	margin-left: 68px;
	margin-top: -46px;
	display: none;
	position: absolute;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	width: 80px;
  }


.cuerpo_menu li:hover > ul {
  display: block;
  cursor: pointer;

}

li a:hover{ /*Con este modifico el hover del menú principal*/
	transition: 1s all;
	color: #fff;
	background-color: var(--encabezado);
	background-size: inherit;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	cursor: pointer;
	column-rule-width: 100%;
	
  }
   
  
	  
  


/* =============================== Main ========================== */

.principal {
	display: grid;
	grid-template-columns: 200px auto;
	column-gap: 1rem;
	height: 620px;
	padding-top: 98px;
	

}

.contenedor_video{
	display: flex;
	justify-content: center;
	margin-top: 80px;
	width: 100%;
	height: 70%;

}
.video_1{
	width: 70%;
	height: 100%;

}



/* =============================== CONTENT ========================== */
	/*este contect lo usa el resto de paginas html*/
#content {
	margin: 4px 0px 4px 0px;	
	width: 100%;
	height:100%;
	margin:0 auto;
	display: flex;
	justify-content: center;
	padding-top: 108px;
	padding-bottom: 5%;
}
.STF0BF11B31B944F1EB48F95D727699A6A{
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 2rem;
}

.cbHTMLBlockContainer{
	background: none;

}
 
.cbLoginButtonContainer{
	background-color: none;
}
	/* este contect lo usa el reporte de produccion fabrica de tubos */
#content1 {
	margin: 4px 0px 4px 0px;
	padding: 10px;
	background: #fff;
	color: #fff;
	box-shadow: 0px 0px 1px 0px #bbb;
	width: 90%;
	height:100%;
	margin:0 auto;
	display: flex;
	justify-content: center;
	padding-top: 10%;
}

	/* este contect lo usa el reporte stock de tubos y produccion de concreto */
#content2 {
	margin: 4px 0px 4px 0px;
	padding: 10px;
	background: #fff;
	color: #fff;
	box-shadow: 0px 0px 1px 0px #bbb;
	width: 40%;
	height:100%;
	margin:0 auto;
	display: flex;
	justify-content: center;
	padding-top: 10%;
}
	/* =============================== Contenct de formularios========================= */

	
#contentinframe1 {
	margin: 4px 0px 4px 0px;
	padding: 0px;
	box-shadow: 0px 0px 1px 0px #bbb;
	margin-left: 20px;
	display: flex;
	justify-content: center;
	padding-top: 1%;
}

	/* este contect lo usa en menu de acarreos*/
#contentinframe2 {
	margin: 4px 0px 4px 0px;
	padding: 10px;
	background: #fff;
	color: #fff;
	box-shadow: 0px 0px 1px 0px #bbb;
	width: 100%;
	height: 100%;
	margin:0 auto;
	display: flex;
	justify-content: center;
	padding-top: 8%;
}



/* =============================== FOOTER ========================== */
	/*le da formato al pie de pagina*/
#cb-footer {
	width: 60%;
	clear: both;
	border-top: 0px solid #a1b5c0;
	color:var(--gris);
	margin: 4px auto;
	padding: 10px 0 10px 10px;
	font-size: 11px;
	text-align: center;
	height: 100%;
	

}
#cb-footer p {
	margin: 0 0 5px 0;
	padding: 0;
}
#cb-footer a {
	color:var(--gris);
	text-decoration: underline;
}
#cb-footer a:hover {
	text-decoration: none;
}
#cb-footer p:first-child{
	font-weight: bold;
}
